nav.navigation
  .navigation_wrapper
    a.navigation__link(href='/')
      | Emergency Medical Specialist

      svg.navigation__link__icon

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href='/about') About
      li.navigation__list__item
        a.navigation__list__link(href='/locations') Locations
      li.navigation__list__item
        a.navigation__list__link(href='/ourStaff') Our Staff
      li.navigation__list__item
        a.navigation__list__link(href='/careers') Careers




